.aboutwindow {
    display: none;
    position: absolute;
    top: 10px;
    left: 210px;
    width: 500px;
    height: 300px;
    overflow: auto;
    overflow-y: hidden;
    font-size: 8pt;
    border: 10px solid lightsteelblue;
    background-color: beige;
    text-align: center;
}

.miniwindow {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 1000px;
    height: 444px;
    overflow: auto;
    overflow-y: hidden;
    font-size: 8pt;
    border: 10px solid lightsteelblue;
    background-color: beige;
}

input, button, select {
    width: 100px;
    min-width: 100px;
}

textarea {
    font-size: 8pt;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    background-color: #269;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.screen {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: black;
    border-radius: 6px;
    padding: 32px 50px;
}

#screen-table {
    background-color: darkgrey;
    border-color: darkgray;
}

#charpallette {
    position: absolute;
    top: 70px;
    left: 755px;
    background-color: beige;
    padding: 10px;
    border-radius: 6px;
}

#toolbar {
    position: absolute;
    top: 5px;
    left: 755px;
    background-color: beige;
    padding: 5px;
    border-radius: 6px;
    width: 355px;
}

#toolbarLower {
    position: absolute;
    top: 580px;
    left: 755px;
    background-color: beige;
    padding: 5px;
    border-radius: 6px;
    width: 355px;
}

#preview {
    border: 1px solid grey;
    width: 30px;
    height: 45px;
    image-rendering: pixelated;
}

img {
    image-rendering: pixelated;
}
